.footer{
    &__wrapper{
        .icon{
            padding-bottom: 2rem;
            img {
                width: 3.2rem;
                transition: .5s ease;
                &:hover {
                    transform: translateY(-.5rem);
                }
                &:nth-child(2) {
                    margin: 0 1rem;
                }
                &:nth-child(3) {
                    margin: 0 1rem 0 0;
                }
            }
        }

        .footer__text{
            color: $trueBlack;
            line-height: 4rem;
            ul{
                li{
                    a{
                        &:hover{
                            color: #00754A;
                        }
                    }
                }
            }
            p{
                font-size: 1.4rem;
            }
        }
    }

    @include mediaQuery($desktop) {
        & {
            padding: 3rem;
        }

        .container {
            max-width: 150rem;
            padding: 0;
        }

        .footer__text {
            display: flex;
            justify-content: space-between;
            line-height: 1.2;
            ul {
                display: flex;
                li {
                    &:nth-child(2) {
                        padding: 0 3rem;
                    }
                    &:nth-child(4) {
                        padding: 0 3rem;
                    }
                }
            }
        }
    }
}