.header {
    background-color: $trueWhite;
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 2000;
    box-shadow: 1px 1px 1px .5px #c4c4c4;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .branding{
            display: flex;
            justify-self: center;
            img{
                width: 4rem;
            }
        }
    }

    &__content {
        position: fixed;
        background-color: white;
        z-index: 999;
        right: -65vw;
        top: 7rem;
        padding-top: 2rem;
        height: 100%;
        width: 65vw;
        box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
        overflow: auto;
        transition: .2s ease;
        .header__nav1, .header__nav2 {
            display: flex;
            flex-direction: column;
        }
        .header__nav1 {
            padding: 2rem 3rem;
            a {
                font-size: 1.8rem;
                font-weight: 500;
                padding-bottom: 3rem;
                &:hover {
                    color: $accGreen;
                }
                &:last-child {
                    border-bottom: 2px solid rgba($softBtext, 0.2);
                }
            }
        }

        .header__nav2 {
            padding: 2rem 3rem;
            a {
                font-size: 1.8rem;
                font-weight: 500;
                &.bold {
                    font-weight: 700;
                }
                &:nth-child(2) {
                    border: 1.5px solid $trueBlack;
                    width: fit-content;
                    padding: .5rem 1.5rem;
                    font-weight: 500;
                    border-radius: 2.5rem;
                    color: $trueBlack;
                    margin: 3rem 0;
                    &:hover {
                        background-color: $warmNeutral;
                    }
                }
                &:last-child {
                    border: 1.5px solid $trueBlack;
                    width: fit-content;
                    padding: .5rem 1.5rem;
                    font-weight: 500;
                    border-radius: 2.5rem;
                    color: $whiteText;
                    background-color: $blackText;
                    &:hover {
                        background-color: rgba(0,0,0,.7);
                    }
                }
            }
        }
        &.open {
            right: 0;
        }
    }

    .kamote {
        &.overlay {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 998;
            left: 0;
            top: 7rem;
            background-color: rgba($blackText3,0.6);
            transition: .5s ease;
        }
    }

    .toggle__menu {
        padding: 1.2rem 1rem;
        &:hover {
            background-color: rgb(228, 228, 228);
            border-radius: 50%;
        }
        span{
            width: 2rem;
            height: .2rem;
            background-color: #545454;
            display: block;
            border-radius: 5rem;
            transition: .5s ease;
            &:nth-child(2) {
                margin: .4rem 0;
            }
        }
        &.open span {
            &:first-child {
            transform: translateY(6px) rotate(225deg);
            transition: .5s ease;
            }
            &:nth-child(2) {
                opacity: 0;
                transition: .5s ease;
            }
            &:last-child{
                transform: translateY(-6px) rotate(-225deg);
                transition: .5s ease; 
            }
        }
    }

    &__content2 {
        display: none;
    }

    @include mediaQuery($desktop) {
        .toggle__menu, &__content, .overlay {
            display: none;
        }

        .container {
            max-width: 150rem;
            padding: 0;
        }

        &__wrapper {
            justify-content: left;
            .branding {
                img {
                    width: 6rem;
                }
            }
        }

        .header__nav1, .header__nav2 {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__content#navig2 {
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: unset;
            box-shadow: unset;
            position: unset;
            padding-top: 0;
            .header__nav1 {
                a {
                    border-bottom: unset;
                    padding-bottom: 0;
                    font-weight: 700;
                    text-transform:uppercase;
                    font-size: 1.4rem;
                    &:nth-child(2) {
                        margin: 0 3rem;
                    }
                }
            }
            .header__nav2 {
                padding: 0;
                a {
                    font-size: 1.4rem;
                    margin: 0;
                    &:first-child:hover {
                        color: $accGreen;
                    }
                    &:nth-child(2) {
                        margin: 0 3rem;
                    }
                }
            }
        }
    }
}